/* Global styles */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins',
    sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1 {
  font-weight: 900;
  position: absolute;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
}
